
.start-header{
    display:flex;
    justify-content: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
.header-nav{
    background-color: aqua;
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-nav a,
.header1-T a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
html,body{
    margin: 0;
    padding: 0;
}
.end-header{
    display: flex;
    justify-content: center;
}
.header1 {
    width: 95%;
    overflow: hidden;
}
.nav-container{
    display: flex;
    position: relative;
}
.logo{
    width: 30%;
    display: flex;
    align-items: center;
}
.header-mid{
    width: 60%;
    display: flex;
    align-items: center;
}
.icons{
    width: 10%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0px;
}
.icons img{
position:relative ;
margin-left: 10px;
}
.header1-T{
    width: 70%;
    display: flex;
    align-items: center;
}
.header1-T a {
    margin-left: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.header1-S{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.right-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.search-form {
    position: absolute;
    right: 0;
}
.search-form input {
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 30px;
    transition: border 0.3s ease;
}
.search-formin {
    display: flex;
    align-items: center;
}
input[type="search"]::placeholder{
position: relative;
left: 40px;
}
.search-icon{
    position: absolute;
    bottom: 10px;
}
.search-formin button {
    left: 1px;
    border: none;
    position: absolute;
}

.search-formin button img{
    position: absolute;
}

/*@media (max-width: 882px) {

    .header,
    .header1,
    .right-container {
        max-width: 100%;
    }

    .nav-container {
        flex-direction: column;
    }

    .header-nav a,
    .header-nav span,
    .header1-nav a {
        font-size: 14px;
    }
}